/* common class */
*{
    font-size:10px
}
body{
    position: relative;
    font-family: "Open Sans", sans-serif
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
h1,h2{
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.5px;
}
h2{
    font-weight:700
}
h1{
    font-size:50px;
    color:white;
    font-weight: 800;
    margin-bottom: 8px;
}
h2.scroll-title{
    font-size:3.6rem
}
h2.section-title{
    font-size:4.8rem
}
h2.social-title{
    font-size:3.2rem;
}
h3.scroll-subtitle{
    font-size: 1.8rem;
}
h3.footer-title{
    font-family:"Lato", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
}
p.prgrph-title{
    font-size:1.5rem;
    color: white;
    margin-bottom:16px;
}
p.prgrph-scroll{
    font-size:1.6rem;
}
p.prgrph-section{
    font-size:2.1rem;
    font-weight:300;
    margin:15px 0
}
ul,li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    color:black;
    letter-spacing: .5px;
}
a.link-section{
    font-size:2.1rem;
}
a.link-section:after{
    content: "\2303";
    display: inline-block;
    transform: rotate(90deg);
    margin-right:10px;
    font-size:2.5rem;
    vertical-align: middle;
}
a.link-section:hover{
    text-decoration: underline
}
a.link-btn:first-child{
    margin-right:8px
}
a.link-btn:nth-child(2){
    margin-left:8px
}


.wrapper-section{
    max-width:1410px;
    height:100%;
    margin:40px auto;
}
.center-abs{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


/* container only */
.container{
    margin: auto;
    text-align: center; 
}



/* navbar */
#navbar{
    height:70px;
    position: fixed;
    left:0;
    top:0;
    z-index:2;
    width:100%;
    background:#fff
}
#navbar{
    padding:16px;
}
#navbar .wrapper,
#footer .wrapper{
    max-width:1140px;
    margin:0 auto;
    text-align: center;
}
#navbar .nav-logo,
#navbar .nav-menu{
    float:left;
}
#navbar ul>*,
#navbar .nav-logo{
    line-height: 3rem;
}

#navbar .nav-logo{
    width:80px;
}
#navbar .nav-logo a{
    font-size: 2rem;
}

#navbar .nav-menu.mr-lg{
    margin-left:calc(((100% / 12) * 7) - 117px )
}
#navbar ul>*{
    float:left;
    margin-right:24px;
}
#navbar ul li a{
    line-height: 3rem;
    padding:0 5px;
    font-size:1rem;
    display: initial;
}
#navbar .nav-lang>*:not(:last-child){
    border-right:1px solid black
}



/* header */
#header{
    margin-top:70px;
}
.header-bkg{
    height:550px;
    background: #000 no-repeat url("../img/HelbizOrig.jpg");
    background-size: cover;
    background-position: 50% 25%;
    position:relative;
}
.header-title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}
.header-title a{
    display: initial
}




/* overview */
#overview .container{
    height:100%;
    padding:48px 15px;
}
#overview .container .overview-bkg{
    padding:50px 0;
    height:548px;
    background: #fafafa
}
#overview .container>*:nth-child(1) .overview-bkg{
    margin-right: 40px;
}
#overview .img-title{
    max-height:22px;
    margin:15px 0
}
#overview a{
    color:#0070C8;
}
#overview .img-product{
    max-height:362px;
    margin:20px 0
}
@media screen and (max-width: 992px){
    #overview .img-product{
        max-height:307px;
    }
}


/* how-section and carousel */
#how-section{
    height:100%
}
#how-section .how-bkg{
    height:500px;
    background:#000 no-repeat url("../img/HelbizBanner.jpg");
    background-size: cover;

}
#how-section .how-carousel{
    height:330px;
    position: relative;
}
#how-section .how-carousel>.wrapper{
    position: absolute;
    top:0%;
    left:50%;
    transform:translate(-50%,-50%);
    background: pink;
    
} 



/* scooter and discovery */
#scooter, #discovery{padding:0 15px;}

#scooter .scooter-bkg{
    height:500px;
    background:#252425 no-repeat url("../img/Helbiz-scooter.png");
    background-size: 75%;
}
#scooter .container{
    position: relative;
    height: 100%;
    color:white;
}
#scooter .container>.col-6{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%)
}
#discovery .get-app{
    margin-right: 20px;
    height:600px;
    background: no-repeat url("../img/HelbiZAPP.png"), linear-gradient(#41566a,#252f38) 50% no-repeat;;
    background-size: 530px, 100%;
    background-position: 50% 100%;
    color:white;
    padding:48px 0
}
#discovery .find-us{
    margin-left: 20px;
    height:600px;
    background: #ffae6c no-repeat url("../img/Cities-1500.jpg");
    background-size: cover;
    color:white;
    padding:48px 0
}
#scooter a,
#discovery .get-app a,
#discovery .find-us a{
    color:white;
    display: initial;
}



/* socail-section */
#social .container{
    position: relative;
    margin-bottom:30px;
    background: #fff url("../img/Social-Banner.jpg");
    background-size:cover;
    background-position: 50% 0%;
    height:420px;
}
#social .container>.col-12{
    height:200px;
    width:450px; 
    background:#fff;
}
#social .container>.col-12 ul li{
    display: inline-block
}




/* footer */

#footer{
    font-family: "Lato";
    background:#000;
    color:white
}
#footer .wrapper{
    padding:100px 0;
    height:100%;
}
footer .container{
    padding:0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
}
footer .container.listmap{
    padding-bottom: 96px;
}
footer .container.listmap>*{
    height:225px
}
footer a{
    padding:3.8px 20px
}
footer h3{
    padding:0 16px 20px
}
footer .container.listmap a{
    font-size:1.52rem;
    font-weight:300;
    color:#696969
}
footer .container.policy,
footer .container.appbtn{
    padding-top: 32px;
    padding-bottom: 32px;
}
footer .container.policy a{
    font-size:1.36rem;
    color:white;
}
footer .container.appbtn{
    text-align: center;
}
footer .container.appbtn a{
    display: initial
}


/* ---- MEDIA QUERY */
@media screen and (max-width: 1200px){
    #scooter .scooter-bkg{
        height:400px;
        background-size: 800px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #navbar .wrapper,
    #footer .wrapper{
        max-width: 950px;
    }
    #navbar .nav-menu.mr-lg{
        margin-left:calc(((100% / 12) * 6) - 119px )
    }
    #discovery .get-app,
    #discovery .find-us{
        height:450px;
    }
}
@media screen and (max-width: 992px){
    #navbar .nav-menu{
        display:none
    }
    #discovery .get-app,
    #discovery .find-us{
        height:400px;
    }
    #discovery .container .get-app{
        background-size: 300px, 100%;
    }
}
@media screen and (min-width: 767px) and (max-width: 992px){
    #navbar .wrapper,
    #footer .wrapper{
        max-width:720px
    }
    .wrapper-section{
        max-width: 740px;
    }
    #overview .img-title{
        max-height:20px;
    }
}
@media screen and (max-width: 767px){

    #overview .wrapper-section{
        width:100%;
    }
    #overview .container{
        padding:0
    }
    #overview .container>*:nth-child(1) .overview-bkg{
        margin-right:0;
        margin-bottom:30px;
    }

    #scooter .scooter-bkg{
        background-position: 45% 0%;
    }
    #discovery .container>*>*{
        margin:0;
    }
    #discovery .container .get-app{
        margin-bottom: 20px;
    }
   
}
@media screen and (min-width: 576px) and (max-width: 767px){
    #navbar .wrapper,
    #footer .wrapper{
        max-width:540px
    }
    #footer .col-xs-12{
        width:calc((100% /12)*3)
    }
}
@media screen and (max-width: 576px){
    #footer .wrapper{
        padding:50px 0;
    }
    #footer .container:not(.appbtn){
        text-align: left
    }
}